html, body {
  width: 100%;
  height: 100%; }

.navigation {
  z-index: 1;
  width: 100%;
  position: fixed; }
  .navigation img {
    width: 100%;
    height: 140px; }
  .navigation nav ul li:hover a:not(.button) {
    background-color: #134D23; }

.slide {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3); }

#home {
  background-image: url(../img/escuela.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mision {
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 14%; 
  height: 70%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
#a{
  background-image: url(../img/logo_ceum.gif);
  height: 100%;
}
#vision{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 14%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
#objetivos{
  font-size: 17px;
  background-color: 
  padding-top: 13%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
#valores{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 13%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
#identidad{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 13%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}

#manual{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 13%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
#adm{
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 13%; 
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
}
